<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.methaneblue.speedmaths">

    <application
        android:name=".GameSettings"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings" />
        <activity android:name=".Welcome" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Add" />
        <activity android:name=".Multi" />
        <activity android:name=".Mixed" />
        <activity android:name=".Loop" />
        <activity android:name=".Challenge" />
        <activity android:name=".GAME_OVER" />
        <activity android:name=".TrialRoomActivity" />
        <activity android:name=".GAME_OVER_DUEL" />
        <activity android:name=".Duel" />
        <activity
            android:name=".PreTest"
            android:noHistory="true" />
        <activity android:name=".LOOP_OVER" />
        <activity android:name=".Strengths" />
        <activity android:name=".Showoff" />
        <activity android:name=".About"></activity>
    </application>

</manifest>